<aside>
  <div class="name">
    Natali
    <strong>Kistrina</strong>
  </div>
  <div class="photo" style="background-image: url('/assets/img/photo.jpg');"></div>
  <div class="ttl">
    Contact me
  </div>

  <ul class="contact">
    <li>
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <a href="mailto:kistrina.natali@gmail.com">kistrina.natali@gmail.com</a></li>
    <li>
      <fa-icon [icon]="faPhone"></fa-icon>
      <a href="tel:099722-89-00">(099) 722-89-00</a></li>
  </ul>

  <div class="ttl">Professional skills</div>

  <ul class="rate-list">
    <li *ngFor="let skill of skills">
      {{ skill.name }}
      <ngb-rating [(rate)]="skill.rate"></ngb-rating>
    </li>
  </ul>
  <div class="ttl">Languages</div>
  <ul class="rate-list">
    <li *ngFor="let lang of langs">
      {{ lang.name }}
      <ngb-rating [(rate)]="lang.rate"></ngb-rating>
    </li>
  </ul>
</aside>
